/****************************************************************************** INICIA CSS JUAN**********************************************************************************/
.boxes h2, .boxes h3 {
    font-family: 'Oswald',helvetica,arial,sans-serif;
}
.boxes h2{
    font-size: 18px;
    font-weight: normal;
}
.boxes h3{
    font-size: 14px;
    font-weight: normal;
}
.boxes h4{
    font-size: 18px;
    font-weight: normal;
}
root { 
    display: block;
}
.banner{
    margin: 0 auto;
    width: 958px;
}
.banner-image-left{
    width: 324px;
    height: 392px;
    float:left;
    background-image: url("../images/diagonal-background.jpg");
}
.banner-image-left-center{
    margin: 0 auto;
    margin-top: 40px;
    width: 270px;
    text-align: center;
}
.banner-image-left-center h1, .banner-image-left-center h2,.banner-image-left-center h3{
    font-family: 'Oswald',helvetica,arial,sans-serif;
    font-weight: normal;
}
.banner-image-left-center h1{
    
    font-size: 28px;
    line-height: 30px;
}
.banner-image-left-center h2{
    font-size: 18px;
    margin-top: 25px;
}
.banner-image-left-center h3{
    font-family: 'Oswald',helvetica,arial,sans-serif;
    font-size: 15px;
    line-height: 18px;
}
.banner-image-left-center .div-center{
    width: 169px;
    margin: 0 auto;
    text-align: left;
}

.banner-image-left-center input[type='text'], .banner-image-left-center input[type='password']{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #606060;
    width: 180px;
    height: 26px;
    margin-top: 5px;
    color: #606060;
    padding: 0 5px;
}
.banner-login-label{
    color: #606060;
    font-family: helvetica;
    font-size: 14px;
}
.div-center-submit{
    margin: 10px 0 15px;
    text-align: center;
    width: 140px;
}
.generals-buttons{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    background-image: url("../images/button-submit-background.jpg");
    padding: 3px;
    font-weight: bold;
    font-family: 'helvetica';
}
.grey-button{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    padding: 3px;
    font-weight: bold;
    font-family: 'helvetica';
}
#login-submit{
    width: 80px;
    height: 25px;
    text-shadow: 1px 1px #E5E4E1;
    margin-top: 5px;
}
.botom-bar{
    background-image: url("../images/diagonal-background.jpg");
    height:5px;
}
.yellow-button-shadow{
    box-shadow: 0 1px 3px 0 #666666;
}
.button-shadow{
    box-shadow: 0 1px 2px 0;
}
.map-frame{
    width:637px;
    height:374px;
    box-shadow: 0 1px 2px 0;
    padding: 10px;
    margin: 40px auto;
}
.map-frame img{
    width:635px;
    height:370px;
}
.combo-fix input[type=button]{
    margin-left: 20px;
    cursor: pointer;
}
.yellow-button-text-shadow{
    text-shadow: 1px 1px #E5E4E1;
    margin-top: 5px;
}

.banner-image-right{
    width: 634px; 
    height: 392px;
    float:left;
}
.banner-image-shadow{
    width: 922px;
    height:29px;
    clear:both;
    border-bottom: 1px dashed #575757;
    clear: both;
	padding: 0 18px;
}
.col-area{
    width:958px;
    margin: 0 auto;
	height: 288px;
}
.boxes{
    width:228px;
    border-right: 1px dashed #575757;
    float:left;
    margin-top: 10px;
    height: 265px;
    padding: 5px;
}
.boxes-right{
    border-right: none;
}
.read-more{
    float:right;
    color:#959595;
    margin-right: 10px;
    cursor: pointer;
    margin-top:5px;
}
input[type=checkbox] {display: none;}
input[type=checkbox] + label {
    background: #fff;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/check_02.png) 0px 0px no-repeat;
    text-indent: -1000em;
}
input[type=checkbox]:checked + label {
    background: url(../images/check_02.png) 0px -16px no-repeat;
}
.sing-up-box{
    background-color: #FFCD00;
    font-family: 'Oswald',helvetica,arial,sans-serif;
    font-size: 18px;
    font-weight: bold;

    height: 46px;
    margin: 10px 0;

    padding: 29px 12px 12px;
    text-align: center;
    width: 170px;

}
.boxes .div-center{
    width:196px;
    margin: 0 auto;
}
#btn-become-partner{
    margin-top: 10px;
    width: 195px;
    height: 24px;
    font-size: 12px;
}
#btn-learn-more{
    height: 24px;
    font-size: 12px;
    padding: 0 10px;
    margin-top: 18px;
}
.yellow-text{
	color:#ffcd00;
}
.grey-box{
    background-image: url("../images/diagonal-background.jpg");
    margin-top: 5px;
    padding: 5px;
    height:198px;
}
.learn-more{
    margin: 0 auto;
    width: 115px;
}
.magazine-box{
    margin: 8px 0;
}
.image-frame{
    box-shadow: 0 1px 5px -1px;
    height: 77px;
    margin: 10px 0 5px;
    padding: 5px;
    width: 186px;
}
fieldset{
    border:none;
}
.div-center p{
    color: #333333;
    font-family: helvetica;
}
#right-column {
    float: left;
    width: 180px;
}
.center-content{
    text-align: center;
}
.yellow-circle{
    background-color: #FFCD00;
    width: 60px;
    height: 45px;
    border-radius: 30px;
    margin: 0 auto;
    padding-top: 15px;
    color: white;
}
.oswald-normal{
    font-weight: normal;
}
.oswald-pink{
    font-weight: normal;
    color: #E54248;
}
.yellow-box{
    background-color: #FFCD00;
    float: left;
    padding: 10px 5px;
    width: 150px;
    margin-left: 10px;
    margin-top: 10px;
}
.sing-up-icon-and-box{
    width: 290px;
    margin: 0 auto;
}
.sing-up-icon-and-box img{
    float:left;
}
.agents-header{
    border-bottom: 1px solid #CDCDCD;
    color: #E54248;
    float: left;
    line-height: 0;
    margin: 0 auto 10px 26px;
    padding: 0 71px;
    width: 580px;
}
.agents-header h3{
    float:left;
    font-weight: normal;
}
.agents-header p{
    float:right;
    font-weight: bold;
}
.letter-pink{
    color: #E54248;
}


.number-published-yellow{
    background-color: #ffcd00;
    height: 43px;
    line-height: 43px;
    margin: 0 auto;
    padding-left: 35px;
    text-align: left;
    width: 705px;
    text-align: center;
}
.agent-photo{
    box-shadow: 1px 1px 4px 0;
    height: 182px;
    padding: 5px;
    width: 137px;
    float:left;
    overflow: hidden;
}
#agent-details{
    float: left;
    margin: 10px auto 0 0px;
    width: 768px;
}
.agent-data-profile{
    float: left;
    margin-left: 0;
    padding-left: 56px;
    width: 378px;
}
.agent-data-profile p{
    font-size: 14px;
    line-height: 14px;
}
.agent-data-profile h3{
    margin:0 0 10px 0;
}
.agent-data-profile h4{
    margin: 0;
    font-weight: normal;
}
.oswald-grey{
    color: #b1b1b1;
}
.footer-icons{
    text-align: right;
}
.agent-properties{
    clear: both;
    margin: 0 auto;
    padding-left: 10px;
    padding: 10px 0;
}
.agent-properties .title{
    background-color: #E54248;
    color: #FFFFFF;
    font-family: oswald;
    font-weight: normal;
    line-height: 28px;
    padding-left: 82px;
    font-size: 18px;
}
.agent-data{
    margin: 0 auto;
    width: 582px;
}
.property-listing{
    border-top: 1px solid #CDCDCD;
    float:left;
    width: 100%;
}
.property-box p{
    margin:0;
    font-size: 14px;
    line-height: 14px;
}
.property-box h3{
    margin:10px 0 5px 0;
}
.property-boxes{
    padding:10px 60px;
    border-bottom: 1px solid #CDCDCD;
    float:left;
}
.property-box{
    float: left;
    margin-right: 0;
    padding: 11px;
    width: 194px;
}
.property-image-frame{
    width: 183px;
    height: 129px;
    padding: 5px;
    box-shadow: 1px 1px 10px;
}
.button-shadow{
    text-shadow: 1px 1px #E5E4E1;
}
.agent-data-buttons{
    clear:both;
    text-align: right;
    padding: 10px 60px;
}
#agent-contact-details{
    margin: 0 auto;
    text-align: left;
    width: 755px;
    margin-top: 10px;
}
.agent-image{
    margin: 0 auto;
}
.agent-image .drop-image{
    border: 2px dotted #A1A0A0;
    border-radius: 0 0 0 0;
    height: 76px;
    width: 325px;
    float:left;
}
.drop-image{
    margin-left:2px;
}
.agent-image label{
    float:left;
}
.drop-image-text{
    float: left;
    width: 240px;
    margin-left:5px;
}
.drop-image-text p{
    margin-top: 0px;
    font-size: 14px;
    line-height: 14px;
    color: #606060;
}
#agentDescription{
    border: 1px solid #A1A0A0;
    border-radius: 5px 5px 5px 5px;
    height: 188px;
    width: 440px;
}
#agent-description-table{
    border-collapse: collapse;
}
#agent-description-table td{
    vertical-align: top;
    text-align: right;
}
.fields{
    
}
.fields p{
    float: right;
    font-size: 12px;
    line-height: 12px;
    margin: 0;
    width: 357px;
    color: #606060;
}
#location-information legend{
    padding-bottom: 10px;
    padding-left: 166px;
    color: #606060;
}
.hr-gris-clear{
    clear: both;
    margin: 20px auto 10px;
}
#agent-contact-details legend{
    margin-bottom: 10px;
}
.draft-save{
    float: left;
    margin: 0;
    text-align: left;
    width: 125px;
}
.draft-save input[type=button]{
    margin-left: 5px;
}
.upload-button{
    float: left;
    height: 44px;
    width: 313px;
}
.upload-button input[type=text]{
    border: medium none;
    height: 17px;
    margin-left: 4px;
    margin-top: 8px;
    position: absolute;
    width: 184px;
}
.upload-button img{
    position: absolute;
}
.upload-button input[type=file]{
    opacity: 0;
    position: absolute;
}
.upload-file-fieldset{
    font-size: 14px;
    line-height: 14px;
    font-family: 'Oswald';
    padding: 0 2px;
}
.upload-file-right-button{
    float: left;
    margin-top: 15px;
}
#real-state-listing-page{
    text-align: left;
}
#real-state-listing-page #upload-pdf {
    text-align: left;
}
#about-this-home{
    padding-left: 50px;
}
#homeDescription, #accountProfile {
    border: 1px solid #A1A0A0;
    border-radius: 5px 5px 5px 5px;
    height: 188px;
    width: 440px;
}
.desc-titulo{
    font-size: 13px;
    margin-left: 10px;
}
#real-state-listing-page label{
    display: inline-block;
    font-size: 14px;
    text-align: right;
    width: 160px;
}
#real-state-listing-page #loaction legend {
    padding-left: 50px;
}
.boton-gris-basico {
    background-image: url("../images/background-button-grey.jpg");
    border: 1px solid #B9B9B9;
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
    height: 27px;
    line-height: 27px;
    margin-left: 10px;
    padding: 0 5px;
    text-align: center;
}
#upload-image #upload-gallery-images{
    margin: 0 auto;
}
.photo-frame{
    box-shadow: 0 1px 5px -1px;
    margin: 0 auto;
    padding: 5px;
}
.photo-editor{
    width:205px;
    height:222px;
}
.photo-editor ul{
    list-style: none;
    width: 668px;
    margin:0 auto;
}
.photo-editor ul li{
    float: left;
    height: 245px;
    width: 222px;
}
.photo-editor ul li .frame-photo{
    margin: 0 auto;
    padding:5px;
    height:117px;
    width:166px;
    overflow: hidden;
    background-color: #ffffff;
}
.photo-editor ul li .frame-photo img{
    height: 117px;
    margin: 0 auto;
    width: 166px;
}
.photo-editor .box{
    background-image: url(../images/backgrond-photo-editor.jpg);
    padding: 14px;
    color: #FFFFFF;
}
.photo-editor .box-selected{
    background-color: #272727;
    background-image: none !important;
}
.photo-editor .title{
    font-weight: bold;
    text-align: left !important;
    width: 192px !important;
}
.photo-editor p{
    font-size: 13px;
    font-weight:normal;
    color: #BCBCBC;
}
#real-state-listing-page #upload-gallery-images{
    clear:both;
}
.general-checkbox,.general-checkbox span{
    float:left;
    color: #000000;
}
.general-checkbox label{
    margin-left:5px;
}
#email-preferences .checkbox-left{
    margin-left:80px;
}
#email-preferences .center-checkboxes{
    margin:0 auto;
    width: 337px;
}
.grey-bar{
    background-color: #B5B5B5;
    height: 16px;
    margin-top: 30px;
    padding: 12px 0;
    text-align: center;
}
.grey-bar .center-content{
    clear: both;
    width: 277px;
    margin: 0 auto;
}
.clear-both{
    clear: both;
}
.white-label{
    color:#ffffff !important;
}
.center-paragraph{
    color: #333333;
    float: left;
    padding: 0 80px;
}
#block-center{
    float: left;
    width: 554px;
}
.center-paragraph .h2-cms,.center-paragraph .h3-cms{
    text-align: left !important;
    margin-bottom: 0;
}
.center-paragraph p{
    margin-top: 0;
}
.big-title{
    font-size: 32px;
    margin: 10px 0 0;
}
.medium-title{
    font-size: 18px;
}
.no-margin{
    margin:0 !important;
}
.Oswald-normal-300 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300 ;
    font-size: 26px;
}
.orange-box{
    background-color:#eb712f;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    font-size: 13px;
    margin: 10px auto;
}
.separator-5{
    margin: 5px 0;
}
.separator-10{
    margin: 10px 0;
}
.separator-20{
    margin: 20px 0;
}
.separator-40{
    margin: 40px 0;
}
.magazine p{
    margin:0;
}
.magazine{
    
}
.magazine .orange-box{
    width: 351px;
}
.orange-letter{
    color:#eb712f;
}

.style2-shadow{
    height: 206px;
    margin: 0 auto;
    padding: 5px;
    width: 357px;
}
.efecto2
{
  position: relative;
}
.efecto2:before, .efecto2:after
{
/* Posiciona la sobora por detras del color de la caja*/
                  z-index: -1;
                  position: absolute;
                  /* no aplico ningún contenidos HTML */
                  content: "";
                  /* posiciona la sombra con respecto al borde inferior, izquierdo y superior */
                  bottom: 15px;
                  left: 10px;
                  top: 80%;
                  /* configura el ancho */
                  width: 48%;
/* color de fondo */
                  background: #777;
                  background: none\0/;
                  /* definicion de la sombra estandar para box-shadow */
                  -webkit-box-shadow: 0 15px 10px #777;
                  -moz-box-shadow: 0 15px 10px #777;
                  box-shadow: 0 13px 10px #777;
                  /* rotacion de la sombra */
                  -webkit-transform: rotate(-3deg);
                  -moz-transform: rotate(-3deg);
                  -o-transform: rotate(-3deg);
                  -ms-transform: rotate(-3deg);
                  transform: rotate(-3deg);
}
.efecto2:after
{
                  /* rotacion de la sombra */
                  -webkit-transform: rotate(3deg);
                  -moz-transform: rotate(3deg);
                  -o-transform: rotate(3deg);
                  -ms-transform: rotate(3deg);
                  transform: rotate(3deg);
                  /* posiciona la sombra con respecto al borde izquierdo y derecho */
                  right: 10px;
                  left: auto;
}
.little-grey-oblique-letter{
    
}
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-bottom: 20px solid;
    border-image: url(../images/diagonal-background.jpg);
}
.paragraph-tooltip-style{
    background-image: url("../images/diagonal-background.jpg");
    margin-bottom: 20px !important;
    padding: 35px 25px 0 !important;
    width: 581px !important;
}
.tooltip-arrow{
    background-image: url("../images/tooltip-arrow.png");
    background-repeat: no-repeat;
    margin-left: 76px;
    margin-top: 3px;
    height: 17px;
}
.paragraph-tooltip-style h3, .paragraph-tooltip-style h4{
    margin:0;
}
.h3-tooltip{
    color: #3A3E3F;
    font-family: 'Oswald';
    font-size: 22px;
}
.little-grey-oblique-letter{
    color: #BCBCBC;
    font-size: 12px;
    font-style: oblique;
    margin: 0 0 10px;
}
.paragraph-tooltip-style h4{
    color: #FFCD00;
    font-size: 18px;
    text-shadow: 1px 1px white;
}
.news-box{
    
}
.side_element h3, .side_element h2{
    font-family: 'Oswald';
    color:#3A3A3A !important;
    margin: 0;
}
.side_element p{
    margin:0;
}
.news-box .recent li{
    list-style: none;
    margin-bottom: 10px;
}
.news-box .recent li a{
    color: #3A3A3A !important;
    font-size: 13px;
}
.news-box .recent li p{
    color: #7e7e7e;
    font-size: 12px;
    font-style: oblique;
}
.col_5{
    float: left;
    /*padding: 0 20px;*/
    width: 285px;
}
.recent{
    padding-left: 0px;
    margin: 0;
}
.recent li{
    background-image: url("../images/flecha.png");
    background-position: 0 6px;
    background-repeat: no-repeat;
    padding-left: 10px;
}
#left-content {
    float: left;
}
#submit-mail{
    width: 270px;
    margin-top: 20px;
}
#submit-mail a,#submit-mail input{
    float:left;
    
}
#submit-mail input{
    width: 174px;
    margin-right: 5px;
    padding: 0 5px;
    color: #3A3A3A;
}
#submit-mail a{
    text-shadow: 1px 1px white;
    color:#3a3e3f;
    
}
.default-input{
    border: 1px solid #A1A0A0;
    border-radius: 5px 5px 5px 5px;
    height: 26px;
    margin-bottom: 5px;
    width: 190px;
}
.grey-gradient{
    background: rgb(240,240,240); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZjBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMWUxZTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(225,225,225,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,240,240,1)), color-stop(100%,rgba(225,225,225,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(225,225,225,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(225,225,225,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(225,225,225,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(240,240,240,1) 0%,rgba(225,225,225,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#e1e1e1',GradientType=0 ); /* IE6-8 */
}
.default-button{
    border-radius: 5px 5px 5px 5px;
    padding: 2px 5px;
}
.paragraph-tooltip-style p{
    line-height: 14px;
}
#categories{
    
}
#categories a{
    border-radius: 5px 5px 5px 5px;
    color: #555555;
    float: left;
    font-family: helvetica;
    font-size: 12px;
    font-weight: bold;
    margin-right: 8px;
    margin-top: 10px;
    padding: 5px 12px;
}
#archives{
    float: left;
    margin-top: 10px;
    width: 260px;
}
#archives li{
    color: #3A3A3A;
    font-size: 14px;
    font-style: oblique;
}
.font-23{
    font-size: 23px;
}
.bold{
    font-weight: bold !important; 
}
.div-center-submit-payment{
    margin: 10px 0 15px;
    text-align: center;
    width: 328px;
}
.div-center-submit-payment .bold{
    float: left;
    width: 147px !important;
}
.yellow-bar{
    background-color: #FFCD00;
    margin: 0 auto;
    padding-left: 35px;
    text-align: center;
    width: 600px;
}
.grey-bar-style-2{
    background-color: #4c4c4c;
    margin: 0 auto;
    padding-left: 35px;
    text-align: center;
    width: 600px;
    color: #FFFFFF;
}
.black-bar{
    background-color: #000000;
    height: auto;
    margin: 0 auto;
    padding-left: 35px;
    text-align: center;
    width: 600px;
}
.hr-gris-style2{
    background-color: #A1A0A0;
    border: medium none;
    color: #A1A0A0;
    height: 1px;
    width: 635px;
    clear: both;
}
#form-contact-page fieldset{
    margin-top: 40px;
}
.white-shadow{
    text-shadow: 1px 1px white;
}
#form-contact-page label{
    width: 120px;
    text-align: right;
    float:left;
    margin-right: 5px;
}
#form-contact-page input[type=text]{
    float:left;
}
.input-large{
    width: 507px !important;
}
#form-contact-page #agent-contact-details{
    width: 635px;
}
#form-contact-page #agentDescription{
    width: 504px;
}
.contact-form-drop-shadow{
    width: 635px; 
    margin: 20px 0px 5px 7px;
}
#box-contact-form{
    padding-right: 30px;
    width: 635px;
}
#table-agents{

    border-spacing: 0 10px;
    padding-right: 25px;
    clear: both;
}
#table-agents td{
    height: 300px;
    padding: 0 14.2px 0 0;

    vertical-align: top;
    width: 192.7px;
}
.border-right{
    border-right: 1px dashed;
}
.border-left{
    border-left: 1px dashed;
}
.border-bottom{
    border-bottom: 1px dashed;
}
.border-top{
    border-top: 1px dashed;
}
.contact-photos{
    padding: 10px 22px;
}
.contact-photos h3, .contact-photos p{
    margin:0;
}
.font-14{
    font-size: 14px;
}
.font-18{
    font-size: 18px;
}
#box-magazine-subscribe-form #form-account-setting fieldset{
    width: 360px !important;
}
.div-center-submit-payment input[type="checkbox"]:checked + label {
    background: url("../images/radio-input.jpg") no-repeat scroll 0 -16px transparent;
}
.div-center-submit-payment input[type=checkbox] + label {
    background: #fff;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/radio-input.jpg) 0px 0px no-repeat;
    text-indent: -1000em;
}
#box-magazine-subscribe-form{
    width: 640px;
}
#box-magazine-subscribe-form .combo-fix label{
    width: 145px !important;
}
#agent-search{
    width: 635px;
}
.contact-agent, .magazine-subscribe #left-content{
    border-right: 1px dashed;
    float: left;
    width: 665px;
}
#search-real-state-agents{
    background-color: #EDEDED;
    height: 185px;
}
#search-real-state-agents .left-column{
    float: left;
    width: 315px;
}
#search-real-state-agents .right-column{
    float: left;
    width: 320px;
}
#search-real-state-agents span{
    float: left;
    margin-right: 10px;
    text-align: right;
    width: 111px;
}
.general-drop-shadow{
    margin: 0 0 5px 7px;
    width: 635px;
}
#search-agent-submit{
    width: 100px;
    margin: 0 auto;
}
.button-light-shadow{
    box-shadow: 0 1px 1px 0 #BCBCBC;
}
#table-magazine td{
    padding-bottom: 17px;
    text-align: center;
    width: 146px;
}
#table-magazine{
    margin-left: 40px;
}
#search-real-state-agents{
    padding-top: 20px;
}
#search-real-state-agents p{
    font-size: 14px;
    line-height: 16px;
    margin: 5px 0;
    height: 26px;
}
#search-real-state-agents a{
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px 0 #BCBCBC;
    color: #333333;
    height: 25px;
    padding: 0 15px;
}
#search-real-state-agents select{
    background: none repeat scroll 0 0 transparent;
    border: medium none !important;
    font-size: 16px;
    height: 26px;
    width: 210px;
    color: #A1A0A0;
    box-shadow: 1px 1px 2px 1px #BCBCBC inset;
    height: 24px;
}
#search-real-state-agents input[type=text]{
    border: 1px solid #A1A0A0;
    border-radius: 3px;
    height: 26px;
    margin-bottom: 5px;
    width: 190px;
    box-shadow: 1px 1px 2px 1px #BCBCBC inset;
    height: 24px;
}
#search-real-state-agents label{
     float: left;
    margin-right: 6px;
    text-align: right;
    width: 94px;
}
.combo-fix label{
    margin-right: 0 !important;
}
#agent-search .font-18{
    padding: 8px 18px;
    text-align: left;
}
#show-agent-listings-hiddable{
    clear: both
}
.read-more span{
    font-size: 10px;
}
#show-agent-listings-div .read-more{
    margin-top: 23px;
}
.hr-gris-black-dashed{
    border-top: 1px dashed;
    clear: both;
    color: #000000;
    width: 635px;
}
.agents-2{
    
}
.agents-2 td{
    height: 350px !important;
    padding: 0 35px 0 0 !important;
    vertical-align: top;
    width: 192.7px;
}
.agents-2 .photo-frame{
    margin:0 !important;
}
.agents-2 .contact-photos{
    padding: 10px 0;
}
.agents-2 .border-top{
    border: none !important;
}
.agents-2 .contact-photos h3{
    line-height: 19px;
}
.agents-2 .contact-photos{
    width: 185px;
}
.contact-agent .paginador{
    margin-right: 31px;
}
.boxes .read-more{
    font-size: 13px;
}
.boxes p, .boxes h3{
    font-size: 13px;
    margin: 5px 0;
}
.boxes h4{
    margin: 5px 0;
}
.boxes h2{
    margin: 5px 0;
}
.grey-box p{
    font-size: 14px;
}
/*agregados*/
.efecto2:before, .efecto2:after
{
	  background: none\0/;
}
.upload-button input[type=file]{
    filter:alpha(opacity=0);
}
#table-agents .photo-frame{
    width: 136px;
}
.col-area .boxes .photo-frame{
    height: 78px;
}
.sign-up-now{
    width: 744px !important;
}
.news-left-content{
    width:667px;
}
.news-left-content .photo-frame{
    width: 620px;
}

#nav-agent-icons nav ul li .tooltip{
    background-image: url("../images/black-background-gradient.jpg");
    border: 1px solid #000000;
    border-bottom: none;
    border-radius: 5px 5px 5px 5px;
    color: white;
    display: none;
    font-size: 12px;
    height: 12px;
    padding: 4px;
    position: relative;
    float: left;
}
#nav-agent-icons nav ul li .triangle{
	border-color: #202020 transparent transparent transparent;
	border-style: solid;
	border-width: 10px;
	height:0;
	width:0;
        margin-left: 44px;
        margin-top: 21px;
        position: relative;
        margin-top: 0;
        float: left;
}

#nav-agent-icons li:hover .tooltip{
    display:inline;
}
#nav-agent-icons li:hover .triangle{
    display:inline;
}
.triangle{
    display: none;
}
#nav-agent-icons a{
    
}
.class-tooltip{
    float: left;
    margin-bottom: 10px;
    margin-left: -72px;
    margin-top: -49px;
    position: absolute;
}
.class-tooltip .triangle{
    float: left !important;
    margin-left: -110px !important;
    margin-top: 19px !important;
}
.nav-agent-icons img{
    
}