body{font-family: Helvetica, Arial, sans-serif;}
bold{font-weight: bold}
footer.footer-back{background:url('../images/barra-footer.jpg') repeat-x left top}
header#header-front-wrapper{background:url('../images/barra-header.png') repeat-x left 144px}
h1,h2,h3,h4,h5,h6{font-weight:normal !important}
fieldset{border:none !important;margin:0px;padding:0px}
.bg-white{background-color:#fff}
.text-white{color:#fff}
.text-gris-claro{color:#606060}
.text-yellow,.text-yellow a{color:#ffcd00 !important}
.align-right{text-align:right !important}
.align-center{text-align: center !important}
.align-left{text-align:left !important}
.inline-block{display:inline-block !important}
.clear-none{clear:none !important}
.hand{cursor:pointer}
.line-height-15{line-height:15px !important}
.boton-tamano-fuente-1{font-size: 16px !important;}
.text-shadow-black-yellow{text-shadow: 1px 1px 2px #;}
.float-right{float:right}
.margin-top-5{margin-top:5px}
a, a:hover, a:active,a:focus,a:visited{text-decoration: none !important;color:#000}
.no-margen-left{margin-left:0px !important}
#my-account{background-color:#FFCD00;height:23px;line-height:23px;text-align: center;font-size: 15px;margin:0px}
#central-content{width:958px;margin:0 auto;}
#block-left{width:190px;height:500px;float:left;}
#block-right{width:768px;float:left}
#form-account-setting label,#payment-details-setting label{width:130px;display:inline-block;text-align:right;font-size: 14px;}
#form-profile-page label{width:160px;display:inline-block;text-align:right;font-size: 14px;}
.form-account-setting{text-align:center;}
h2.h2-cms{text-align:center;font-size: 29px;font-weight:normal !important }
.form-account-setting label{line-height:25px}
.form-account-setting legend{font-size: 20px;}
.form-account-setting input[type=text],#create-new-agent input[type=text],#listings-about-form input[type=text],.input-default-format input[type=text]{-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;border: 1px solid #a1a0a0;height: 26px;width: 190px;margin-bottom: 5px;}
.social-icons{height:23px;width:23px;text-indent: -3000px;overflow:hidden;display:block}
.facebook-icon{background:url(../images/facebook.png) left top }
.linked-in-icon{background:url(../images/linked-in.png) left top}
.twitter-icon{background:url(../images/twitter.png) left top }
.pinterest-icon{background:url(../images/pinterest.png) left top }
.tumblr-icon{background:url(../images/tumblr.png) left top }
.social-icons:hover{background-position: left -23px !important }
.wrapper-agent-listings-2{margin: 0 auto;width: 710px;}
.campo-chico-3{width:53px !important}
.padd-min-left{margin-left: 10px}
.boton-yellow-1{background-image:url(../images/boton-yellow-1.png);border:none !important;height:27px;line-height:27px;display: inline-block;width:90px;text-align:center }
.boton-yellow-3{background-image:url(../images/boton-yellow-3.png);border:none !important;height:27px;line-height:27px;display: inline-block;width:151px;text-align:center }
.boton-yellow-4{background-image:url(../images/boton-yellow-4.png);border:none !important;height:27px;line-height:27px;display: inline-block;width:151px;text-align:center }
.boton-grey-3{background-image:url(../images/boton-grey-3.png);border:none !important;height:27px;line-height:27px;display: inline-block;width:151px;text-align:center }
.boton-grey-4{background-image:url(../images/boton-grey-4.png);border:none !important;height:27px;line-height:27px;display: inline-block;width:186px;text-align:center }
.boton-grey-1{background-image:url(../images/boton-grey-1.png);border:none !important;height:29px;line-height:29px;display: inline-block;width:95px;text-align:center }
#hi-lateral{margin:0px;padding:0px;height:25px;line-height: 25px;text-align:center}
#account-settings-menu a{text-decoration:none;margin-left:8px;color:#000}
.menu-lateral-bg-gris-oscuro{background:url(../images/menu-account-bg-gris-oscuro.png) repeat;padding-bottom: 7px}
.menu-lateral-bg-gris-claro{background:url(../images/menu-account-bg-gris-oscuro.png) repeat}
#block-left li{list-style-type: none;padding-left:19px;}
#block-left ul{padding:0px;margin:0px}
#manage-your-style{margin: 3px 0 7px 9px;}
#menu-buy{margin-top:23px;height:30px;line-height:30px;margin-bottom:15px}
#block-left #color-fondo{height:410px;background:url(../images/menu-account-bg.png) 10px top repeat;padding-top:20px;width:180px;float:right}
#account-settings-menu{margin:0px 0px 58px 0px}

#block-left #linea-fondo{background:url(../images/linea-lateral-account.jpg) repeat-y right top;width:1px;height:430px;position: relative;left:190px;top: 0px;}

.boton-dark-yellow{
    background: #edbb38; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkYmIzOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjODk0MDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #edbb38 0%, #c89404 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#edbb38), color-stop(100%,#c89404)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #edbb38 0%,#c89404 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #edbb38 0%,#c89404 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #edbb38 0%,#c89404 100%); /* IE10+ */
background: linear-gradient(to bottom,  #edbb38 0%,#c89404 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edbb38', endColorstr='#c89404',GradientType=0 ); /* IE6-8 */

}
.form-account-setting select,#tabla-step-2 select,#create-new-agent select, #listings-about-form select,.account-type-format-1-side select, .input-default-format select{
   background:transparent;
   -webkit-appearance: none;
   width: 210px;
   font-size: 16px;
   height: 26px;
   border:none !important
}
.flecha-combo-chico-1 select,.flecha-combo-chico-1-variante select{    background:transparent;   -webkit-appearance: none;   font-size: 16px;   height: 26px;   border:none !important}
.flecha-combo-variante select{
   background:transparent;
   -webkit-appearance: none;
   width: 200px;
   font-size: 16px;
   height: 26px;
   border:none !important
}
.select-chico-1,.select-chico-1-variante{
   width: 73px !important;
}
.flecha-combo{
   width: 190px;
   height: 26px;
   overflow: hidden;
   border: 1px solid #a1a0a0;
   -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
   margin-bottom: 5px;
   background: url(../images/combo-flecha.png) no-repeat 180px center #fff;
   display:inline-block
}
.flecha-combo-inter{
   width: 112px;
   height: 26px;
   overflow: hidden;
   border: 1px solid #a1a0a0;
   -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
   margin-bottom: 5px;
   background: url(../images/combo-flecha.png) no-repeat 102px center #fff;
   display:inline-block
}
.flecha-combo-inter select{
background: none repeat scroll 0 0 transparent;
border: medium none !important;
font-size: 16px;
height: 26px;
width: 130px !important;
}
.flecha-combo-variante{
   width: 180px;
   height: 26px;
   overflow: hidden;
   border: 1px solid #a1a0a0;
   -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
   margin-bottom: 5px;
   background: url(../images/combo-flecha-variante.png) no-repeat 170px center #fff;
   display:inline-block
}
.flecha-combo-variante-medio{width: 110px;   height: 26px;   overflow: hidden;   border: 1px solid #a1a0a0;   -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;   margin-bottom: 5px;   background: url(../images/combo-flecha-variante.png) no-repeat 100px center #fff;   display:inline-block}
.flecha-combo-variante-medio select{    background:transparent;   -webkit-appearance: none;   width: 130px;   font-size: 16px;   height: 26px;   border:none !important}
.flecha-combo-variante-largo select{
    background:transparent;
   -webkit-appearance: none;
   width: 260px;
   font-size: 16px;
   height: 26px;
   border:none !important
}
.flecha-combo-variante-largo{
     width: 240px;
   height: 26px;
   overflow: hidden;
   border: 1px solid #a1a0a0;
   -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
   margin-bottom: 5px;
   background: url(../images/combo-flecha-variante.png) no-repeat 230px center #fff;
   display:inline-block
}
.flecha-combo-chico-1{
   width: 55px;
   height: 26px;
   overflow: hidden;
   border: 1px solid #a1a0a0;
   -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
   margin-bottom: 5px;
   background: url(../images/combo-flecha.png) no-repeat 43px center #fff;
   display:inline-block
}
.frmt-label-combo{line-height:25px;display: inline-block;    font-size: 14px; }
.flecha-combo-chico-1-variante{
   width: 55px;
   height: 26px;
   overflow: hidden;
   border: 1px solid #a1a0a0;
   -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
   margin-bottom: 5px;
   background: url(../images/combo-flecha-variante.png) no-repeat 43px center #fff;
   display:inline-block
}
.flecha-combo select option{/*width:190px !important*/}
.lateral-selected{background: url(../images/flecha-yellow.png) no-repeat left center #fff;position:relative;top:0px;left:-10px;width:190px}
.lateral-selected,.lateral-selected a{color:#b5b5b5 !important}
.drop-image{width:145px;height:145px;border: 1px solid #a1a0a0;   -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
#form-account-setting  #billing-information,#form-account-setting #profile,#payment-details-setting fieldset{width:330px;margin:0 auto}
#form-profile-page #business-contact{width:755px;margin:0 auto;text-align:left}
#form-profile-page #upload-pdf{text-align:left}
#div-drop-image div{float:left;height:145px;}
#div-drop-image{height:165px;clear:both;color:#606060;margin-top: 15px;}
#div-drop-image p{width:260px;font-size:12px;padding-left:10px}
#div-drop-image label{font-size: 14px;color:#000}
#div-drop-image div:first-child{margin-right: 5px;}
.hr-gris-otro{background-color: #cdcdcd;  height: 2px;;margin:20px }
.hr-gris {  background-color: #A1A0A0;  border: medium none;  color: #A1A0A0;  height: 1px;  width: 710px;}
#profileDescription,#accountProfile{height:188px;width:440px;margin-left:165px;border: 1px solid #a1a0a0;   -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.form-account-setting input[type=text],.form-account-setting textarea,.form-account-setting select,#create-new-agent input[type=text],#create-new-agent textarea,#create-new-agent select,#listings-about-form input[type=text],#listings-about-form textarea,#listings-about-form select,#payment-details-setting select,#payment-details-setting textarea,#payment-details-setting input[type=text]{color:#a1a0a0}
.email-icon{width:25px;height:16px;background:url(../images/email-icon.png) no-repeat top left;display:inline-block;margin-left:8px}
.website-icon{width:19px;height:17px;background:url(../images/website-icon.png) no-repeat top left;display:inline-block;margin-left:8px}
.profile-icon{width:23px;height:17px;background:url(../images/profile-icon.png) no-repeat top left;display:inline-block;}
#create-new-agent .profile-icon{margin-right:10px;float:right}
.margin-left-0{margin-left:0px !important}
.boton-gris-1{background:url(../images/save-other-phone.png) no-repeat;width:186px;height:27px;line-height:27px;display:inline-block;text-align:center;margin-left:10px}
.desc-subida-video{margin-left:10px;font-size:13px}
#form-profile-page legend{padding-left: 50px}
#upload-image,#upload-videos,#upload-pdf{text-align:left;padding-left:50px }
#upload-gallery-images{width:325px;height:75px;text-align:center}
#upload-gallery-images span{background-color:#FFCD00;padding:3px }
.round-border-gris{border: 1px solid #a1a0a0;   -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.round-border-yellow{border: 1px solid #FFCD00;   -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
#number-published{ font-size: 15px;color:#fff;width:705px;height:43px;line-height:43px;margin:0 auto;background-color:#4c4c4c;text-align:left;padding-left:35px}
#number-published span:first-child{font-size:18px;}
#number-published span:last-child{font-size:15px;}
#tabla-agentes{width:720px;margin:0 auto}
#tabla-agentes th{height:40px;font-size:12px }
#tabla-agentes #th1{width:225px;text-align:left;font-size:16px}
#tabla-agentes #th2{width:155px}
#tabla-agentes #th3{width:75px}
#tabla-agentes #th4{width:105px}
#tabla-agentes #th5{width:155px;text-align:right}
#tabla-agentes td{height:45px;text-align:center}
#tabla-agentes #td1,#tabla-agentes #td3{background-color: #e9e9e9;border:1px solid #a5a5a5}
#tabla-agentes #td1{text-align:right}
#tabla-agentes #td2{text-align:right}
#tabla-agentes #td1 p{padding-right: 20px}
#tabla-agentes #td2 p{padding-right: 10px}
#tabla-agentes #td3 span{font-size:8px;font-weight:bold}
.boton-yellow-2{background:url(../images/boton-yellow-2.png) no-repeat; width:130px;height:27px;line-height:27px;display:inline-block;text-align:center}
#registros-agentes{border-top:3px solid #4C4C4C;width:720px;margin:0 auto;margin-top:40px;padding:0px 10px }
.add-agents{background:url(../images/plus-icon.png) no-repeat right top;padding-right:35px;display:inline-block;height:28px;line-height:28px}
.paginador{text-align:right}
.paginador span{font-size:10px;display:inline-block;height:16px;line-height:16px;border:1px solid #666666;text-align:center}
.paginador .number{width:16px}
.paginador .actual{background-color:#d7d7d7;font-weight:bold  }
.paginador .previous,.paginador .next{padding:0px 7px}
.paginador .puntos{background:url(../images/puntos-paginador.jpg) no-repeat center bottom;width:16px;border:none}
.hr-custom{background:url("../images/menu-account-bg.png") repeat;height:4px;border:none}
.delete-icon{background:url("../images/delete-cross.png");height:28px;width:30px;display:inline-block;text-indent: -300px;overflow:hidden}
#published th,#draft th{height:20px;font-size:12px;text-align:center }
#published td,#draft td{text-align:center;height:60px}
#published .td5,#draft .td5{text-align:left}
#published .th1,#draft .th1{width:30px;}
#published .th2,#draft .th2{width:105px}
#published .th3,#draft .th3{width:130px}
#published .th4,#draft .th4{width:60px}
#published .th5,#draft .th5{width:365px;text-align:right}
#published h3,#draft h3{font-size:13px;padding-left:10px}
#published span,#draft span{font-size:19px }
#published .td2,#published .td3,#published .td4,#draft .td2,#draft .td3,#draft .td4{font-size:11px;color:#606060}
.grey-line-under td{border-bottom:1px solid #606060}
#published td, #draft td{margin:0px;padding:0px; }
.auto-renewal{text-align:right;color:#dedede;padding-right:20px }
.combo-fix label{display:block !important;float:left;padding-right:6px}
.combo-fix  div{float:left}
.combo-fix{clear:both}
#save-account-form{float:right;margin:30px 220px 30px 0px}
.search-field-p{width:705px;margin:0 auto;padding:20px 15px 10px 35px}
.search-field-p input[type=text]{float:left;background:url(../images/search-bg.png) no-repeat top left;width:237px;height:23px;border:none;color:#A1A0A0;font-size:11px}
.search-field-p input[type=submit]{position:relative;top:0px;left:-28px;border:none;background:url(../images/lupa.png) no-repeat center center;width:23px;height:23px;text-indent:-3000px;overflow:hidden;display:inline-block}
.search-field-p span{float:right}
.wrapper-agent-listings{width:740px;margin:0 auto}

#tabla-agentes-listings-not-added .th1,#tabla-agentes-listings .th1{width:40px;}
#tabla-agentes-listings-not-added .th2,#tabla-agentes-listings .th2{width:117px}
#tabla-agentes-listings-not-added .th3,#tabla-agentes-listings .th3{width:158px}
#tabla-agentes-listings-not-added .th4,#tabla-agentes-listings .th4{width:50px;font-size:12px}
#tabla-agentes-listings-not-added .th5,#tabla-agentes-listings .th5{width:340px}
#tabla-agentes-listings-not-added .td1,#tabla-agentes-listings .td1{text-align:center}
#tabla-agentes-listings-not-added .td4,#tabla-agentes-listings .td4{text-align:center;}
#tabla-agentes-listings-not-added .td3,#tabla-agentes-listings .td3{text-align:center;}
#tabla-agentes-listings-not-added .td5,#tabla-agentes-listings .td5{text-align:right;}
#tabla-agentes-listings .house-thumb{background:url(../images/si-image-bg.png) no-repeat left top;font-size:10px}
#tabla-agentes-listings-not-added .no-house-thumb{background:url(../images/no-image.png) no-repeat center top;font-size:10px;height:81px}
#tabla-agentes-listings .house-thumb img{margin:5px 0px 5px 5px}
#tabla-agentes-listings .house-title{color:#e73e40;font-size:17px}
#tabla-agentes-listings .house-geo{font-size:12px}
#tabla-agentes-listings .house-price{color:#e73e40;font-size:12px}
#tabla-agentes-listings-not-added td,#tabla-agentes-listings td{height:110px}
.menu-lateral-relative{}
#form-profile-page{text-align: left}
.label-check{line-height:16px !important;text-align: left !important;padding-left:25px !important;width:100px !important;text-indent:0 !important;}
.label-check2{line-height:16px !important;text-align: left !important;padding-left:20px !important;width:220px !important;text-indent:0 !important;/*background:url(../images/flecha.png) no-repeat left center #B5B5B5 */}
#registros-agentes h3 {  font-size: 13px;  padding-left: 10px;}
#registros-agentes h3 span{  font-size: 19px;}
.float-left{float:left}
.pick-izq,.pick-med,.pick-der{float:left;width:250px}

#reset-pass{text-align:center}
#reset-pass p{text-align: center;font-size:12px}
#reset-pass[type=text]{text-align:center !important}
#reset-pass a{font-size:14px}
#save-reset-pass{margin:20px 0px}
#height-fix{height:410px}
#create-new-agent legend{padding:20px 0px}
#create-new-agent label{width:165px;text-align:right;line-height:25px;display: inline-block;    font-size: 14px;}
#edit-form{margin:15px 0px 30px 0px}
#agent-thumb-div{margin-left:165px;text-align:center;width:149px;}
#agent-thumb-div div{width:137px;height:182px;padding:5px;-webkit-box-shadow: 1px 1px 4px 0 ;box-shadow: 1px 1px 4px 0; }
.email-msg{display: inline-block;    font-size: 8px;    height: 25px;    padding-left: 10px;color:#A1A0A0;}
#create-new-agent input[type=submit]{margin:40px 0px}
#create-new-agent  legend{padding-left:50px}
#create-new-agent .mas-padd{padding-left:170px !important}

.boton-css-gradient-yellow{
background: #ffdf09; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZGYwOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmJiMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #ffdf09 0%, #ffbb00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffdf09), color-stop(100%,#ffbb00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffdf09 0%,#ffbb00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffdf09 0%,#ffbb00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffdf09 0%,#ffbb00 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffdf09 0%,#ffbb00 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdf09', endColorstr='#ffbb00',GradientType=0 ); /* IE6-8 */
}
.boton-css-gradient-grey{
    background: #eaeaea; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhZWFlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNWQ1ZDUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #eaeaea 0%, #d5d5d5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(100%,#d5d5d5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #eaeaea 0%,#d5d5d5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #eaeaea 0%,#d5d5d5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #eaeaea 0%,#d5d5d5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #eaeaea 0%,#d5d5d5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#d5d5d5',GradientType=0 ); /* IE6-8 */
}
.round-corner-10{-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;}
.round-corner-5{-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.round-corner-3{-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
.boton-css-formato{font-size: 12px ;border:none;height:27px;line-height:27px;display: inline-block;padding-left:20px;padding-right:20px ;text-align:center;-webkit-box-shadow: 0px 1px 4px 1px #a1a0a0;box-shadow: 0px 1px 4px 1px #a1a0a0; }
#listings-about{margin: 25px auto;  padding: 0 10px;  width: 720px;}
.listings-about-header-1{width:600px;height:25px;margin:0 auto;background-color:#FFCD00;color:#6d6d6d;text-align:left;margin-top:20px;margin-bottom:10px;line-height:25px}
.listings-about-header-2{width:600px;height:25px;margin:0 auto;background-color:#FFCD00;color:#6d6d6d;text-align:center;margin-top:20px;margin-bottom:10px;line-height:25px}
.listings-about-header-3{width:600px;height:25px;margin:0 auto;background-color:#FFCD00;color:#fff;text-align:center;margin-top:20px;margin-bottom:10px;line-height:25px}
.listings-about-header-1 span{padding-left:15px}
#listings-about-form legend{padding-left:30px}
#listings-about-form label,.input-default-format label{line-height: 25px;display: inline-block;    font-size: 14px;    text-align: right;    width: 160px;}
#listings-about-form .combo-fix, .adv-search .combo-fix{height:30px;}
#listings-about-form .combo-fix .special-margen-right{margin-right:6px}
#listings-about-form .label-special-width{width:92px !important}
#listings-about-form  .margin-bottom-special{margin-bottom:6px;height:26px}
#listings-about-form  .margin-bottom-special input[type=text]{height:24px}
.label-check3{
  line-height: 16px !important;
  padding-right: 25px !important;
  text-align: right !important;
  text-indent: 0 !important;
  width: 150px !important;
}
/*input[type="checkbox"] + label */
.check-special{
  background: url(../images/check_02.png) 165px 0px no-repeat !important;
  height: 16px !important;
  width:160px !important;
  text-indent: -1000em !important;
}
.label-check-rojo{
line-height: 25px !important;
  padding-left: 25px !important;
  text-align: right !important;
  text-indent: 0 !important;
  width: 90px !important;
}
.check-special-rojo{
  background: url(../images/check-rojo.png) left 0px no-repeat !important;
  height: 25px !important;
  width:90px !important;
  text-indent: -1000em !important;
}
.label-activo-rojo{
  background: url(../images/check-rojo.png) left -25px no-repeat !important;
}
/*#listings-about input[type=checkbox]:checked*/
.label-activo{
  background: url(../images/check_02.png) 165px -16px no-repeat !important;
}
.label-activo-radio{background: url(../images/radio-bg.png) right -15px no-repeat !important;}
/*input[type=checkbox] {display: none;}
label + input[type=checkbox]{
    background: #fff;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/check_02.png) 180px 0px no-repeat;
    text-indent: -1000em;
}
label + input[type=checkbox]:checked{
    background: url(../images/check_02.png) 0px -16px no-repeat;
}*/
.pick-izq-2,.pick-med-2,.pick-der-2{float:left;width:200px}
.contenedor-picks-1{height:215px;margin: 0 auto;width: 600px;}
.contenedor-picks-2{height:75px;margin: 0 auto;width: 600px;}
.contenedor-picks-3{height:140px;margin: 0 auto;width: 600px;}
.hr-gris-div{height:1px;background:url('../images/barra-header.png') repeat-x top left }
#listings-about-form #botonera span{margin-left: 60px;    margin-right: 10px;}
#listings-about-form #botonera a{margin-right:60px}
#signin-popup{/*height:308px;*/width:380px;background-color:#e0e0e0;}
#popup-back{margin-left:15px;margin-top:6px;font-size: 12px;    font-weight: bold;}
#popup-close{margin-right:15px;margin-top:6px;font-size: 12px;    font-weight: bold;}
#signin-popup p{margin-top:0px;margin-bottom:0px;text-align:center;color:#606060;font-size: 13px;}
#signin-popup label{color:#606060;display: inline-block;font-size: 13px;}
#signin-popup{text-align:center}
#signin-popup .message-1{width:250px;margin: 0 auto;margin-bottom:33px}
#signin-popup input[type=submit]{margin-top:10px;margin-bottom: 8px;padding-right: 7px !important;padding-left: 7px !important;height: 25px !important;    line-height: 25px !important;font-size: 14px !important;}
#label-joinEmail{margin-top:28px;margin-bottom:8px}
.popup-title{font-size:29px !important;color:#000 !important}
.field-alert-height-20{height:20px;line-height:20px;}
.field-alert-height-55{height:45px;padding-top:10px;}
.input-error-style{color:#e03e43;border:1px solid #e03e43 !important}
.field-alert-white{background-color:#2c211c;color:#fff;font-size: 14px;}
.field-alert{background-color:#2c211c;color:#ffbf00;font-size: 14px;}
.popup-back{background-color:#fff;color:#000;padding-left:20px;text-align:left !important}
#signin-popup input[type=radio]{display:none}
#signin-popup .width-con-margen{width:350px;margin:0 auto;}
#forgot-pass-description{margin-bottom:15px}
#reset-description{margin-bottom:15px !important}
#having-trouble-reset-pass{padding:15px 0px 45px 0px !important}
#not-a-member{margin-right:15px;text-align:right !important;padding-bottom:10px}
#forgot-pass{margin-left:15px;text-align:left !important;color:#000;padding-top:6px}
.label-radio{background:url('../images/radio-bg.png') no-repeat right top;height:15px;display:inline-block;padding-right:20px}
#signin-popup input[type=text],#signin-popup input[type=password]{border: 1px solid #A1A0A0;border-radius: 5px 5px 5px 5px;height: 26px;margin-bottom: 2px;width: 190px;}
#rsa-block-left{float:left;width:515px;background:url('../images/dashed-rsa.png') repeat-y right top }
#rsa-block-right{float:left;width:396px}
.inputs-largos{border: 1px solid #A1A0A0;border-radius: 5px 5px 5px 5px;height: 26px;margin-bottom: 5px;width: 270px;}
.circle-step{text-align:center;height:60px;border-radius: 30px 30px 30px 30px;width: 60px;line-height:60px;display:inline-block;background-color: #FFCD00;  color: white; }
.circle-step-div{height:60px;text-align: center;margin:20px 0px 10px 0px}
.label-format-1 label{width:195px;display:inline-block;text-align:right;margin-right:7px}
.label-format-2 label{width:116px;display:inline-block;text-align:right;margin-right:7px}
.account-type-format-1{height:105px;line-height:105px; width:205px;float:left;background: url('../images/acount-type-bg.png') no-repeat 170px top}
.account-type-format-1-side{height:105px;width:300px;float:left;font-size: 11px}
p#sales-representative{text-align:right;margin-right:125px}
.display-inline{display: inline !important}
#title-already{margin: 67px 0px 10px 67px}
.check-special-negro {
  background: url("../images/check-black.png") no-repeat scroll left 0 transparent !important;
  height: 16px !important;
  text-indent: -1000em !important;
  width: 90px !important;
}
.label-check-negro {
  line-height: 16px !important;
  padding-left: 20px !important;
  text-align: right !important;
  text-indent: 0 !important;
  width: 90px !important;
}
.label-activo-negro {
  background: url("../images/check-black.png") no-repeat scroll left -16px transparent !important;
}
.check-special-negro-2 {
  background: url("../images/check-black.png") no-repeat scroll right 0 transparent !important;
  height: 16px !important;
  text-indent: -1000em !important;
  width: 200px !important;
}
.label-check-negro-2.label-activo-negro {
    background: url("../images/check-black.png") no-repeat scroll right -16px transparent !important;
}
.label-check-negro-2 {
  line-height: 16px !important;
  padding-right: 20px !important;
  text-align: right !important;
  text-indent: 0 !important;
  width: 200px !important;
}
.label-activo-negro-2 {
  background: url("../images/check-black.png") no-repeat scroll right -16px transparent !important;
}
#rsa-block-right input[type=submit]{float:right;margin-top: 5px;clear:both}
.forgot-pass{margin:0px;float:right;font-size:13px}
.account-type-format-1-side div{margin-bottom:7px }
.account-type-format-1-side div:last-child{height:30px}
.account-type-format-1-side .combo-fix{float: right;    margin-right: 46px;}
#create-boton{float: left;height: 30px;margin-top: 10px;margin-bottom:7px;width: 459px;}
#create-boton input[type=submit]{float: right;}
#rsa-block-left .label-especial{width: 439px !important; font-size: 12px;}
.registro-REA-step2 .barra-step{background-color:#FFCD00;color:#fff;text-align:center;line-height:38px;height:38px;font-size:23px}
.registro-REA-step2 .circle-step{float:left;margin-left:160px }
.registro-REA-step2 h2{float: left;font-size: 29px;line-height: 60px;margin: 0 0 0 110px; }
.registro-REA-step2 .circle-step-div{margin-bottom:55px}
.registro-REA-step2 #barra-step-sub{text-align:center;font-size:10px}
.registro-REA-step2 legend h3{color:#FFCD00;font-size:16px }
.registro-REA-step2 form{margin-left:246px;width:555px}
.registro-REA-step2 .table-elem-first{padding-top: 25px;font-size: 11px;margin-right:10px;text-align:right;width:159px;float:left}
.registro-REA-step2 .table-elem{font-size:10px;width:81px;float:left;text-align: center !important}
.registro-REA-step2 .table-elem div{font-size:12px;height:70px;padding-top:5px; background-color: #fff;border:1px solid #808080;margin:0px 4px 0px 4px}
#tabla-step-2{background-color:#E9E9E9;width:555px;height:275px;}
#tabla-step-2 .first-line{padding-top:19px;height:100px}
#tabla-step-2 .second-line{text-align:right;height:30px}
#tabla-step-2 .second-line label{float:right;line-height:26px}
#packagesMessage{font-size:11px;text-align:right;margin-right:30px }
#tabla-step-2 .flecha-combo-chico-1{float: right;    margin-left: 10px;    margin-right: 30px;}
.solo-check-img-black{line-height:16px;width:16px;background:url('../images/check-black.png') no-repeat left top;display: inline-block;height: 16px;}
.solo-check-img-black.label-activo-solo-check-black {  background: url("../images/check-black.png") no-repeat scroll left -16px transparent !important;}
.second-line-down .table-elem-largo{width:316px;height:55px;background-color: #fff;border:1px solid #808080;margin:0px 4px 0px 4px;float:left}
.second-line-down .table-elem-first{padding-top: 15px !important;}
.table-elem-largo span{font-size:11px;line-height:54px;float:left }
.table-elem-largo label{float:left;margin-top: 18px !important;}
.table-elem-largo .flecha-combo-chico-1{float:left !important}
#featureOnlyF{width:65px;margin-right:5px;text-align:right}
#featureAllF{width:118px;margin-right:5px;text-align:right}
.table-elem-largo .flecha-combo-chico-1{margin:12px 5px 0px 5px !important}
#plans-pricings input[type=submit]{margin:12px 0px !important}
.step-3-wrap{width:822px; margin:0 auto;}
.step-3-wrap .cuarta-fila{}
.step-3-wrap .primera-fila td:nth-child(odd),.step-3-wrap .segunda-fila td:nth-child(odd){background-color:#E9E9E9}
.step-3-wrap .primera-fila td{border-bottom:1px solid #7F7F7E}
.step-3-wrap .pri{border-right:1px solid #7F7F7E}
.step-3-wrap .ter{border-left:1px solid #7F7F7E}
.step-3-wrap .tercera-fila td{border-bottom:1px solid #7F7F7E}
.step-3-wrap .primera-fila .pri{width:220px;text-align: right;padding-right:25px}
.step-3-wrap .primera-fila .seg{width:164px}
.step-3-wrap .primera-fila .ter{width:137px}
.step-3-wrap .primera-fila .cua{width:164px}
.step-3-wrap .primera-fila .qui{width:137px}
.step-3-wrap .segunda-fila .pri{text-align: right;padding-right:25px }
.step-3-wrap .primera-fila{height:40px}
.step-3-wrap .segunda-fila{height:40px}
.step-3-wrap .tercera-fila{height:22px}
.step-3-wrap .cuarta-fila{height:40px}
.step-3-wrap .quinta-fila{height:28px;background-color:#FFCD00 }
.bold{font-weight: bold !important}
.step-3-wrap td{text-align: center;font-size: 11px;}
.step-3-wrap #totalCost{background-color:#E9E9E9}
.step-3-wrap #sumbit-step-3{height:30px;margin:10px 0px 50px 0px}
.step-3-wrap p{font-size: 13px;text-align:right;margin-bottom:50px}
.step-3-wrap h2{font-size:40px !important}
.hi-nombre-register{padding:3px 38px;font-size:19px;background-color:#FFCD00 }
.registro-REA-step5{text-align:center}
#modify-billing-details{background-color:#E9E9E9;width:403px;height:29px;line-height: 29px;font-size:12px;margin:18px auto}
.registro-REA-step5 h2{font-size:35px;margin:25px 0px 90px 0px;text-align:left}
.registro-REA-step5 input[type="checkbox"],.registro-REA-step4 input[type="checkbox"]{display:inline-block}
.registro-REA-step5 table,.registro-REA-step4 table{width:320px;margin:0 auto;text-align: left;font-size:13px !important}
.registro-REA-step5 input[type=submit]{margin:95px 0px 75px 0px}
#payment-details-setting{text-align:center}
#payment-details-setting h2{text-align:left !important;margin-left:90px}
#payment-details-setting .input-width-fix{width:334px;text-align:left;margin:0px;display:inline-block}
#payment-details-setting .label-width-fix{width:270px;text-align:right}
.registro-REA-step4 table{margin:32px auto !important}
.registro-REA-step4 input[type=submit]{margin-bottom:57px}

.text-shadow-white{text-shadow: 1px 2px 2px #f2f2f2;filter: dropshadow(color=#f2f2f2, offx=1, offy=2);}
.yellow-text a{color:#FFCD00 !important}
.grey-box ul{list-style-type: none !important;padding-left:0px}
.sing-up-icon-and-box .yellow-box{text-align:left !important}
.sing-up-icon-and-box{height:135px}
.registro-rsa-signin #cont-sign{margin:35px 0px 45px 0px}
/* IE8 */
#form-account-setting LABEL{
    width: 128px\0/; !important;
}
#payment-details-setting #profile label{
    width: 128px\0/; !important;
}
#tabla-agentes-listings-not-added tr td a img{
    border: none;
}

/************** nuevo ******************/
.btn-yellow{ background-color: #FFCD00; padding: 3px;}
#div-drop-image {text-align: center; line-height: 24px; font-size: 12px; }
.drop-image{overflow: hidden; position: relative }
/*#div-drop-image img{max-height: 145px; max-width: 145px; }*/
.fileupload {    cursor: pointer;    opacity: 0;    position: absolute;    width: 100px;    z-index: 100;}
#div-drop-image span.examinar {    display: inline-block;    text-align: center;    width: 100px;    z-index: 1; margin: 0 auto}
#div-drop-image  .btn-upload-image{float: none; margin: 0 auto;  text-align: center; height: auto;}
.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.group { display: inline-block; clear: both; }
/* start commented backslash hack \*/ * html .group { height: 1%; } .group { display: block; } /* close commented backslash hack */

.drop-image .preview input{display: none;}
.preview-galery {background: #444; margin: 5px auto 10px; text-align: center}
.preview-galery .preview  {margin: 0px 15px; padding: 10px 5px; display: inline-block; position: relative}
.preview-galery .preview:hover{background: #333}
.preview-galery .preview  .cont-imagen{border: 2px solid #FFF;}
.preview-galery .preview  .cont-imagen:hover{border-color: #D1389B;}
.preview-galery .preview  input{display: none;}
.preview-galery .preview .data input[type=text]{display: block; padding: 0px; border-radius: 3px; color: #333; font-size: 12px; height: auto; width:100%; background: transparent; color: #FFF; border-color: transparent}
.preview-galery .preview .data input[type=text]:focus{background: #fff;  color: #333; }
.preview-galery .preview .remove{background: #333; color: #FFF; border-radius: 50%; width: 24px; height: 24px; text-align: center; display: inline-block; position: absolute; top: -3px; right: -3px; font-size: 14px; }
.preview-galery .preview .remove:hover{background: #000;}