footer{height:107px;color:#606060;width:958px;margin:0 auto;clear:both}
footer nav li a{text-decoration:none;color:#606060;}
footer nav li{list-style-type: none;font-size: 11px;}
.copyright{text-align: center}

#footer-social-links ul li{float:left;margin:0px !important;padding:0px 2px 0px 2px;list-style-type:none }
#footer-social-links{float:right}
#footer-social-links ul{margin:12px 18px 0px 0px}
.copyright{margin:3px 0px 0px 0px;font-size: 12px;}
footer .nav-left{display:inline-block;}
footer .nav-left ul{padding-left:0px;margin:10px 0px 0px 13px}
footer .nav-right{display:inline-block;}
#footer-social-links span{font-size: 12px;padding-right:3px;line-height: 24px;font-weight: bold;}
