body{margin:0px}
header{width:958px;margin:0 auto;height:165px}
#wrapper-back{width:980px;margin:0px auto;/*padding:0px 15px*/}
#header-shadow-left{background:url(../images/header-shadow-left.png) left top no-repeat;width:233px;left:0px;z-index:2;background-color: #fff}
#header-shadow-center{background:url(../images/header-shadow-mid.png) left top repeat-x;width:100%;left:0;right:0;width:100%}
#header-shadow-right{background:url(../images/header-shadow-right.png) left top no-repeat;width:233px;right:0px;z-index:2;background-color: #fff}
.header-shadow{/*display: inline-block*/height:12px;position:absolute;top:0px;}
#header-up-left img{margin-top:30px}
#header-up-left{float:left;height:109px;width:369px}
#header-up-right{float:left;height:109px;width:589px;text-align:right}
#header-down nav li{list-style-type: none;float:left;font-family: 'Oswald', helvetica, arial, sans-serif;margin:10px 20px 0px 20px;font-size:18px;padding-bottom:3px }
#header-down nav ul{margin:0px;padding:0px}
#header-down nav li:first-child{margin-left:0px !important}
#header-down nav li a{color:#000;text-decoration: none !important}
#hi-nombre{padding:1px 23px 1px 23px;background-color:#ffcd00}
#hi-contact{padding: 0px 6px 0px 10px;color:#959595;font-size:12px;background:url(../images/flecha.png) left center no-repeat}
#social-links ul li{float:left;margin:0px !important;padding:5px 2px 0px 2px;list-style-type:none }
#social-links{float:right}
#welcome-mexigo{margin:22px 0px 0px 0px;font-size:13px }
#contact-short{margin:40px 0px 0px 0px;}
#contact-short a{color:#000;text-decoration: none !important}
.oswald{font-family: 'Oswald', helvetica, arial, sans-serif;}
#header-down nav ul li.actual-li{border-bottom:9px solid #FFCD00}